@import "var";

.card {
  // width: 380px;
  padding: 20px 70px;

  @include media-xs {
    // width: 300px;
    padding: 10px 10px;
  }

  .header {
    // background: #0B4C5F;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }
}

.btn-blue{
  width: 100%;
  background-color: #583ee2 !important;
  color: #fff;
  font-size: 0.9em;
}

.btn-blue:hover{
  background-color: #593ee29d !important;
}

.btn-blue:disabled{
  background-color: #d0cedac7 !important;
}

.title-pass{
  margin-top: 5px;
  margin-bottom: 10px;
}

::ng-deep .mat-form-field{
  font-size: 12px;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper{
  font-size: 0.6em;
  line-height: 12px;
}

@media only screen and (max-width: 600px) {
  .footer-page{
    left: 3%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  .footer-page{
    left: 15%;
    font-size: 12px;
  }
}

@media only screen and (min-width: 901px) and (max-width: 1024px) {
  .footer-page{
    left: 25%;
    font-size: 12px;
  }
}
