@import "var";

.clickable {
  cursor: pointer;
}

.item-row-principal{
  color: black;
}

.item-row-secondary{
  color: #A4A4A4;
}

.margin-section{
  margin-top: 10px;
  margin-bottom: 10px;
}

.text-inactive{
  background-color:#f19a9a30;
}

