@import 'var';

.head-row-rules{
  font-size: 0.8em;
  font-weight: bold;
}

.head-row-rules-movil{
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.body-section{
  border: solid 1px $color-btn3;
  border-radius: 12px;
  margin-bottom: 15px;
}

.body-row{
  font-size: 0.8em;
}

.head-cell-rule{
  color: $color-btn3;
  font-weight: bold;
  padding-left: 15px;
  display: flex;
  align-items: center;
}

.btn-blue{
  background-color: #fff !important;
  color: $color-btn3 !important;
  font-size: 1em;
}

.btn-blue:hover{
  color: $color-btn3h !important;
}

.icons-action-result{
  display: flex; 
  align-items: center;
  cursor: pointer;
}

.check-rule{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}