@import "var";

.clickable {
  cursor: pointer;
}

/**
  Responsive Table
*/
.fury-mobile-label {
  display: none;
}
  
@include media-xs {
  .fury-mobile-label {
    width: 80px;
    display: inline-block;
    font-weight: 500;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: $spacing/3 $spacing;
    min-height: auto;
  }

  .mat-cell {
    padding-top: $spacing/3;
  }
}